*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.apple{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    background: #252422;
}

.apple i{
    font-size: 8em;
    color: #f5f5f5;
}

.apple .apple-2{
    animation: anim 2s linear infinite;
}

@keyframes anim{
    0%{
        text-shadow: 0 0 50px #fff,
    0 0 75px #fff,
    0 0 90px #fff;
    }
    30%{
        text-shadow: 0 0 50px#4bdc4b,
    0 0 75px #4bdc4b,
    0 0 90px #4bdc4b;
    }
    70%{
        text-shadow: 0 0 50px #fb3737,
    0 0 75px #fb3737,
    0 0 90px #fb3737;
    }
    100%{
        text-shadow: 0 0 50px #fff,
    0 0 75px #fff,
    0 0 90px #fff;
    }
}



